@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

body {
    background-color: #f9f9f9 !important;
}

.header{
	display: flex;
	background-color: #fbfbfb !important;
}

.logo{
	background-image: url("../res/logo.gif");
	background-size: contain;
	height: 100px;
    width: 100px;
	float: left;
}

.title{
	text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.nav {
    margin-right: 10px;
	height: fit-content;
    margin-top: 30px;
}

.nav .btn {
    margin-left: 9px;
}

.listContainer{
	overflow: hidden;
	height: 35vh;
	margin: 20px 25px;
    padding: 15px 15px;
	border-radius: 15px;
}

.pickList{
	color: blue;
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	animation-name: totop;
    /* animation-duration: 60s; */
    animation-delay: 1s;
	animation-iteration-count: infinite;
    animation-direction: alternate;
 }

.selectedList{
	display: flex;
    border-radius: 15px;
    margin: 10px 25px;
    padding: 15px 15px;
	flex-wrap: wrap;
	justify-content: center
}

.pickListNames {
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    margin: 5px;
	/* margin: 5px auto; */
	height: fit-content; 
	flex-wrap: wrap;
	color: black;
}

.pickListNames:nth-child(n) {
  background: #FFDED7;
}

.pickListNames:nth-child(2n) {
  background: #FFF2D7;
}

.pickListNames:nth-child(3n) {
  background: #F8FFD7;
}

.pickListNames:nth-child(4n) {
  background: #E4FFD7;
}

.pickListNames:nth-child(5n) {
  background: #D7FFDE;
}

.pickListNames:nth-child(6n) {
  background: #D7FFF2;
}

.selectedListNames {
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
    margin: 15px;
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
}

.selectedListNames:nth-child(n){
	background: linear-gradient( to right, hsl(133deg 85% 36%), hsl(227deg 82% 60%) );
}

.selectedListNames:nth-child(2n){
	background: linear-gradient( to right, hsl(351deg 100% 51%), hsl(227deg 82% 60%) );
}

.selectedListNames:nth-child(3n){
	background: linear-gradient( to right, hsl(224deg 100% 51%), hsl(72deg 97% 50%) );
}

.selectedListNames:nth-child(4n){
	background: linear-gradient( to right, hsl(97deg 100% 51%), hsl(0deg 97% 50%) );
}

.selectedListNames:nth-child(5n){
	background: linear-gradient( to right, hsl(224deg 100% 51%), hsl(310deg 97% 50%) );
}

.controls{
    text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

.pick h3, .selected h2 {
    text-align: center;
}

.selected h2 {
    margin-top: 20px;
}

.lead button {
    float: right;
}

.hide{
	display:none;
}

.toast{
	width: fit-content !important;
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 0px 30px;
    border: 1px green solid !important;
    border-radius: 30px !important;
}

.modal-content{
	background-color:unset !important;
	border: none !important;
}

.winner{
	font-size: 60px;
    color: #fff;
    position: absolute;
    top: 75px;
    width: max-content;
    padding: 20px 10px;
	animation-name: fadein;
	animation-duration: 2s;
	font-weight: 500;
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
	background: linear-gradient( to right, red, #ffeb00, #04ff00, cyan, #5863f3, #9120f1, #ec359c);
}

.congrats {
	color: #fff;
	display:flex;
	position: relative;
	top: 140px;
	width: 550px;
	height: 100px;
	padding: 20px 10px;
	text-align: center;
	margin: 0 auto;
	left: 0;
	right: 0;
	justify-content: center;
}

h1 {
	transform-origin: 50% 50%;
	font-size: 50px;
	font-family: 'Sigmar One', cursive;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	/* top: 100px; */
	text-align: center;
	width: 100%;

}

.blob {
	height: 50px;
	width: 50px;
	/* color: #ffcc00; */
	position: absolute;
	top: 45%;
	left: 45%;
	z-index: 1;
	font-size: 30px;
	display: none;	
}

.blob:nth-child(n) {
	color: red;
}

.blob:nth-child(2n) {
	color: green;
}

.blob:nth-child(3n) {
	color: blue;
}

.blob:nth-child(4n) {
	colour: yellow
}

.winnerClose{
    position: relative;
    top: 270px;
    margin: 0 auto;	
	animation-name: fadein;
	animation-duration: 5s;
}
.modal-backdrop {
    opacity: 0.95 !important;
	z-index: 1 !important;
}

@keyframes fadein {
    0% { opacity: 0; }
	50% { opacity: 0; }
    100%   { opacity: 1; }
}

.winnerBtn {
	color: #10c73e !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 20px;
	border: 4px solid #0a98e1  !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

.winnerBtn:hover {
	color: #ffffff !important;
	background: #10c73e;
	border-color: #10c73e !important;
	transition: all 0.4s ease 0s;
	font-weight: 700;
}

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top:0;
  right:0;
}

button.btn-close.text-reset:hover {
    transform: rotate(90deg);
}
	
button.btn-close.text-reset {
    transition: transform 0.2s ease-in-out;
}

ul.winnersList, ul.participantList {
    max-height: 200px;
    overflow: auto;
    margin-top: 10px;
	list-style: auto;
	padding-left: 3rem !important;
}

input.winnerCheckbox, input.participantCheckbox {
    margin-right: 10px;
    margin-left: 5px;
}

i.bi.bi-file-check {
	color: green;
    font-size: 20px;
    padding-right: 10px;
}

div#fileNameDiv {
    padding-left: 15px;
	margin-bottom: 20px;
}

h5#offcanvasRightLabel {
    font-size: 2rem !important;
}